.listTable {
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.listTable dt {
  font-weight: 700;
  width: 20%;
  text-align: center;
  display: flex;
}

.listTable h3 {
  font-size: 18px;
}

.listTable dd {
  width: 80%;
  padding: 8px 15px;
}

.tableCategories {
  list-style: none;
  display: inline-flex;
  margin-right: 10px;
  background-color: rgba(69, 242, 255, 1);
  color: #333;
  font-weight: bold;
  padding: 5px;
  font-size: 12px;
  border-radius: 10px;
}
.tableDesc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
  font-weight: normal;
}
.blogImg {
  aspect-ratio: 16 / 9;
  width: 80%;
  height: 100%;
}
@media screen and (max-width: 650px) {
  .listTable {
    display: block;
  }
  .listTable dt {
    display: block;
    width: 100%;
    padding: 4px 0;
  }
  .listTable dd {
    width: 100%;
    padding: 4px 8px;
    display: block;
    margin: 0;
  }

  .tableYear {
    font-size: 14px;
    margin: 0;
  }
  h3.tableTitle {
    font-size: 14px;
  }
  .listTable {
    font-size: 12px;
  }
  .tableDesc {
    margin: 10px 0;
    display: none;
  }
  .tableCategories {
    font-size: 10px;
    margin: 10px 15px;
  }
}
