body {
  background-color: #323232 !important;
  color: white;
  margin: 0;
}
body p {
  text-align: left;
  font-size: 18px;
  font-family: Zen Kaku Gothic New;
}
body b {
  color: rgba(69, 242, 255, 1);
  font-weight: 700;
}
.pageContainer {
  position: relative;
  padding: 40px 40px;
}
.sectionTitle {
  margin: 25px 0;
}
.mainHeader {
  font-family: Zen Kaku Gothic New;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
}
.subHeader {
  color: rgba(69, 242, 255, 1);
  font-weight: 700;
  margin: 0;
  font-size: 16px;
}

.pageContainer h2 {
  text-align: center;
}
.socialMediaLogo {
  margin: 5px 5px 0 0;
  color: white;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
}
.pageSection {
  margin: 10px 0;
}
.rowSplit {
  display: flex;
  margin-bottom: 10px;
}
.halfSplit {
  flex: 50%;
  min-width: 50%;
  margin: 0 15px;
}

.halfSplit h3 {
  text-align: center;
  font-weight: 700;
  color: #333;
}
.threeCol {
  flex: 33%;
  min-width: 33%;
  font-size: 14px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
}

.smlRightCol {
  flex: 0 0 45%;
  max-width: 45%;
}

.smlRightCol > img {
  max-width: 75%;
}
.bigLeftCol {
  flex: 0 0 55%;
  max-width: 55%;
}
.readMoreContainer {
  margin-top: 5%;
  margin-bottom: 10px;
  text-align: center;
}
.readMore {
  color: white;
  font-weight: 700;
  background-color: #393f44 !important;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  border-radius: 9999px;
  border-color: none;
  border-radius: none;
}

.readMore:hover {
  color: rgba(69, 242, 255, 1);
}

.tableArea {
  background-color: #393f44 !important;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
button {
  background-color: rgba(69, 242, 255, 1);
  color: #393f44;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  font-weight: 700;
}
.tableTitle:hover,
.tableDesc:hover,
.projectListTitle:hover,
.projectListDesc:hover,
.listLink:hover {
  color: rgba(69, 242, 255, 1);
  font-weight: 700;
}
@media screen and (max-width: 650px) {
  .mainHeader {
    font-size: 24px;
  }
  .subHeader {
    font-size: 18px;
  }
  body p {
    font-size: 14px;
  }
  .readMore {
    font-size: 14px;
    margin-top: 25px;
  }
  h3 {
    font-weight: 700;
    font-size: 15px;
  }
}
